{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}Rechercher{% endblock %}

{% block body %}
<div class="container-fluid background-P">
  <div class="row">
    <div class="col-md-7 text-center ps-5 d-flex align-items-center">
      <!-- Contenu de la première colonne -->
      <p class="display-2 climatecrisis text-W">Recherche</p>
    </div>
    <div class="col-md-5 pb-5 pt-4 mt-4 pe-5 text-center d-flex align-items-center">
      <!-- Contenu de la deuxième colonne -->
      <input class="col-md-10 pb-3 pt-3 d-flex align-items-center" type="search">
    </div>
  </div>
</div>

<div class="container-fluid mt-5 pt-5 px-5 pb-5">
  <div class="row align-items-stretch">
    {% for annonce in annonces %}
    <div class="col-md-4 d-flex">
      <div class="card border-0 flex-fill">
        <div class="card-body background-S rounded-5">
          <h5 class="card-title text-center climatecrisis pt-3 pb-4 text-B display-5">{{ annonce.titre }}</h5>
          <p class="card-text text-center text-W px-2 montserrat900 display-6">Prix : {{ annonce.prix }} € <br />
            Description : {{ annonce.description }}</p>
          <div class="text-center mt-4">
            <a type="button" class="" href="{{path('visite', {'id':annonce.id})}}">visiter</a>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}