<!doctype html>
<html lang="fr">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block stylesheets %}
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Climate+Crisis&display=swap">
    <link href="https://bootswatch.com/5/lumen/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('styles.css') }}">
    {% endblock %}
    <title>
        {% block title %}Okeys - {% endblock %}
    </title>
</head>

<body>

    <nav class="navbar navbar-light navbar-expand-lg background-W py-3">
        <div class="container-fluid">
            <a class="navbar-brand text-P montserrat900" href="{{ path('index') }}"><strong>OKeys</strong></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01"
                aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link text-B montserrat500" href="{{ path('estimation') }}">Estimer</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-B montserrat500" href="{{ path('acheter') }}">Acheter</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-B montserrat500" href="{{ path('louer') }}">Louer</a>
                    </li>
                    {% if is_granted('IS_AUTHENTICATED_FULLY')%}
                        <li class="nav-item">
                            <a class="nav-link text-B montserrat300" href="{{ path('contact') }}">Contact</a>
                        </li>
                    {% endif %}
                    {% if is_granted('IS_AUTHENTICATED_FULLY')%}
                        {% if is_granted('ROLE_AGENT')%}
                            <li class="nav-item dropdown w-100">
                                <a class="nav-link dropdown-toggle text-B montserrat300" data-bs-toggle="dropdown" href="#"
                                    role="button" aria-haspopup="true" aria-expanded="false">Admin</a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="*">Ajout bien</a>
                                </div>
                            </li>
                        {% endif %}
                        <li class="nav-item">
                            <a class="nav-link text-B montserrat300 text-danger" href="{{ path('app_logout') }}">Déconnexion</a>
                        </li>
                    {% else %}
                        <li class="nav-item dropdown w-100">
                            <a class="nav-link dropdown-toggle text-B montserrat300" data-bs-toggle="dropdown" href="#"
                                role="button" aria-haspopup="true" aria-expanded="false">Profil</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="{{ path('app_register') }}">Inscription</a>
                                <a class="dropdown-item" href="{{ path('app_login') }}">Connexion</a>
                                <div class="container-fluid"></div>
                            </div>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    {% block body %}{% endblock %}

    {% block javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
        crossorigin="anonymous"></script>

        <script src="{{ asset('js/main.js') }}" defer></script>

    {% endblock %}
</body>

</html>